**/__pycache__/
/vlab/agent/infrastructure/database/*
!/vlab/agent/infrastructure/database/.gitkeep

/vlab/agent/infrastructure/apparatus_configs/*
!/vlab/agent/infrastructure/apparatus_configs/DEFAULT_HL7
!/vlab/agent/infrastructure/apparatus_configs/DEFAULT_ASTM
!/vlab/agent/infrastructure/apparatus_configs/address/.gitkeep
