SERIAL_MODE = false
PROTOCOL = "HL7" # maybe 'ASTM'
MODE = "P"

# Serial
APPARATUS_SERIAL_PORT = "/tmp/apparatus"
BAUDRATE    = 9600
BYTESIZE    = 8
PARITY      = "N"
STOPBITS    = 1

# TCP/IP
AGENT_TCP_PORT     = 5000
APPARATUS_TCP_PORT = 5001
TCP_HOST    = "127.0.0.1"
GATEWAY_MAX_CLIENT = Infinit # maybe a number inter
APPARATUS_AS_SERVER = false
